*.dot
*.egg-info
*.pyc
*.pyd
*.so
*.svg
*temp.*
temp/
.DS_Store
.idea
.vscode
MANIFEST.in
_skbuild
build
cmake
dev_*.py
dist
parsetab.py
src/*.egg-info
src/*.yml
src/docs
src/site
test
thirdparty
wheelhouse
*.zhaoyilun
*.png

# documents
doc/build
doc/pages
