graphviz>=0.14.2
ipython>=8.14.0
matplotlib>=3.5.2
networkx>=2.6.3
numpy>=1.20.3
ply~=3.11
pybind11>=2.10.3
requests>=2.26.0
scikit-build>=0.16.1
scipy>=1.8.1
setuptools>=58.0.4
sparse>=0.13.0
